<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Information nach Art. 13 EU-Datenschutz-Grundverordnung (DSGVO)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
:root {
            --primary-color: #999;
        }

        body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    background-color: #fff;
    /* Set dimensions to mimic A4 size */
    width: 21cm; /* Width of A4 */
    height: 83cm; /* Height of A4 */
    margin: auto; /* Center the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    padding: 2rem 3rem;
}


        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

         /* Additional styling for the logo */
        .company-logo {
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 480px; /* Adjust as needed */
    width: 120px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    z-index: 999; /* Ensure it's above other content */
}
        .copyright {
            position: absolute;
            top: 10px; /* Adjust top positioning */
            left: 10px; /* Adjust left positioning */
        }
          .signature-pad-form {
    max-width: 300px;
    margin: 0 auto;
  }


  /* styling for the signature canvas */

  .signature-pad {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
  }

  .clear-button {
    color: var(--primary-color);
  }

  @media (pointer: coarse) {
    body {
      overflow: hidden;
    }
  }

  input[type="checkbox"] {
    margin-right: 15px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

    </style>
</head>
<body>

<!-- Company Logo -->

<div class="container mt-5">
    <p>&copy; 2024 Corpa AG - All rights reserved.</p>
    <img src="CompanyLogo.jpg" alt="Company Logo" class="company-logo">

    <div class="inside">
        <h1>Information nach Art. 13 EU-Datenschutz-Grundverordnung (DSGVO)</h1>
        <p>
            Vertrauen ist wichtig, besonders wenn es um Ihre Daten geht. Aus diesem Grund erachten wir es als unsere Pflicht, nur die Daten zu erheben, welche unbedingt erforderlich sind sowie die Daten mit der gebotenen Sorgfalt zu verwalten und vor Missbräuchen zu schützen. Die CorPa Treuhand AG und ihr nahestehende Gesellschaften halten sich strikt an die datenschutzrechtlichen Vorschriften bei der Erhebung und Verarbeitung Ihrer Daten.
        </p>
        <p>
            Nachstehend finden Sie Informationen zur Verarbeitung Ihrer Daten und den Ihnen zukommenden Rechten:
        </p>

        <h2>1. Name und Kontaktdaten des Verantwortlichen:</h2>
        <ul>
            <li>CorPa Treuhand AG;</li>
            <li>Meierhofstrasse 2</li>
            <li>9490 Vaduz</li>
            <li>Liechtenstein;</li>
            <li><a href="mailto:office@corpatrust.com">office@corpatrust.com</a></li>
            <li>+423 239 01 01</li>
        </ul>

        <h2>2. Kategorien der erhobenen personenbezogenen Daten, Zwecke und Rechtsgrundlagen der Verarbeitung</h2>
        <h3>2.1. Die CorPa Treuhand AG und ihr nahestehende Gesellschaften erheben insbesondere die folgenden Daten:</h3>
        <ul>
            <li>Klienten- und Adressdaten;</li>
            <li>Legitimationsdaten;</li>
            <li>Sorgfaltspflichtdaten;</li>
            <li>Mandatsinformationen;</li>
            <li>Buchführungsdaten;</li>
            <li>Rechtsträgerdaten;</li>
            <li>Steuermeldedaten;</li>
            <li>Korrespondenz.</li>
        </ul>
        <h3>2.2. Die Erhebung dieser Daten erfolgt:</h3>
        <ul>
            <li>um Sie als unseren Kunden identifizieren zu können;</li>
            <li>um das uns übertragene Mandat erfüllen zu können;</li>
            <li>zur Erfüllung der gesetzlichen Buchführungspflichten;</li>
            <li>zur Korrespondenz mit Ihnen;</li>
            <li>zur Rechnungsstellung.</li>
        </ul>
        <h3>2.3. Ihre Daten werden auf Grundlage von Art. 6 Abs. 1 Bst. b (vertragliche Beziehung) und c (Erfüllung einer rechtlichen Verpflichtung) DSGVO verarbeitet.</h3>

        <h2>3. Herkunft der Daten</h2>
        <h3>3.1. Ihre Daten erheben wir direkt (Besprechungen und Korrespondenz) oder über interne Hintergrund- und Sorgfaltspflichtabklärungen.</h3>
        <h3>3.2. Allenfalls können Daten durch Dritte Dienstleister erhoben werden. Dritte Dienstleister können insbesondere sein:</h3>
        <ul>
            <li>Banken;</li>
            <li>Vermögensverwalter;</li>
            <li>Revisoren.</li>
        </ul>

        <h2>4. Empfänger der erhobenen personenbezogenen Daten</h2>
        <h3>4.1. Ihre Daten werden von uns ausschliesslich zur Erfüllung unserer vertraglichen, gesetzlichen und aufsichtsrechtlichen Pflichten zu den unter Ziff. 2.2. aufgeführten Zwecken verarbeitet.</h3>
        <h3>4.2. Hierzu können insbesondere folgende externe Dienstleister Daten erhalten:</h3>
        <ul>
            <li>Banken;</li>
            <li>Vermögensverwalter;</li>
            <li>Versicherungen;</li>
            <li>Rechtsanwälte;</li>
            <li>Revisoren.</li>
        </ul>
        <h3>4.3. Sind von uns gesetzliche oder aufsichtsrechtliche Pflichten zu erfüllen, können insbesondere folgende Stellen Daten erhalten:</h3>
        <ul>
            <li>Amtsstellen (z. B. Aufsichtsbehörden, Gerichte);</li>
            <li>Steuerbehörden (u.a. auch im Rahmen des AIA und der FATCA).</li>
        </ul>

        <h2>5. Transfer von erhobenen personenbezogenen Daten in Drittstaaten</h2>
        <p>Zur Erfüllung vertraglicher und rechtlicher Verpflichtungen können Ihre Daten direkt oder indirekt an dritte Dienstleister in Drittstaaten transferiert werden.</p>

        <h2>6. Dauer der Speicherung der erhobenen personenbezogenen Daten</h2>
        <p>Ihre Daten werden während der Geschäftsbeziehung im Rahmen der gesetzlichen Bestimmungen verarbeitet und gespeichert. Nach Beendigung der Geschäftsbeziehung werden Ihre Daten so lange gespeichert, wie dies unter Beachtung der gesetzlichen Aufbewahrungsfristen erforderlich ist.</p>

        <h2>7. Betroffenenrechte</h2>
        <p>Nach der EU-Datenschutz-Grundverordnung stehen Ihnen folgende Rechte zu:</p>
        <ul>
            <li>Auskunft zu erhalten über die verarbeiteten personenbezogenen Daten bzw. deren Kategorien, die Verarbeitungszwecke, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die Absicht, Daten an ein Drittland oder eine internationale Organisation zu übermitteln einschließlich dafür geeigneter Garantien, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft Ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren Einzelheiten;</li>
            <li>die Berichtigung, Ergänzung, oder das Löschen Ihrer personenbezogenen Daten, die falsch sind oder nicht rechtskonform verarbeitet werden, zu verlangen;</li>
            <li>von uns zu verlangen, die Verarbeitung Ihrer personenbezogenen Daten einzuschränken;</li>
            <li>unter bestimmten Umständen der Verarbeitung Ihrer personenbezogenen Daten zu widersprechen;</li>
            <li>Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen;</li>
            <li>bei der zuständigen Datenschutzaufsichtsbehörde Beschwerde zu erheben.</li>
        </ul>

        <p>Empfangsbestätigung durch den Kunden</p>


        <label for="currentPlace">Aktueller Ort:</label>
        <input type="text" id="currentPlace" name="currentPlace" placeholder="Ort eingeben" />
        <p>Unterschreiben Sie bitte im nachfolgenden Feld.</p>
        <p><b>Unterschrift:</b></p>
        <canvas height="150" width="400" class="signature-pad"></canvas>
        <p>
            <a href="#" class="clear-button" onclick="clearCanvas()">Clear</a>
        </p>
        <!-- Generate PDF and relocate to the next page -->
        <button type="button" onclick="GenerateAndNext()" class="btn btn-secondary">Save & Next</button>
        <input type="hidden" id="customerId" th:value="${customerId}" />


    </div>

</div>

<script>

const canvas = document.querySelector('canvas');
const ctx = canvas.getContext('2d');
let isDrawing = false;
let lastX = 0;
let lastY = 0;

function draw(e) {
  if (!isDrawing) return;
  ctx.lineWidth = 2;
  ctx.lineCap = 'round';
  ctx.strokeStyle = '#000'; // Set the stroke style to black

  ctx.beginPath();
  // Start from
  ctx.moveTo(lastX, lastY);
  // Go to
  ctx.lineTo(e.offsetX, e.offsetY);
  ctx.stroke();
  [lastX, lastY] = [e.offsetX, e.offsetY];
}

canvas.addEventListener('mousedown', (e) => {
  isDrawing = true;
  [lastX, lastY] = [e.offsetX, e.offsetY];
});

canvas.addEventListener('mousemove', draw);
canvas.addEventListener('mouseup', () => isDrawing = false);
canvas.addEventListener('mouseout', () => isDrawing = false);

function clearCanvas() {
    console.log("Clear Button clicked");
    ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear the entire canvas
  }


</script>

<script>

// script for the button to create the pdf and redirect to the next page

function GenerateAndNext() {
    console.log("Save & Next Button clicked");

    generateDataProtectionPDF();

    navigateNext();
}

    function generateDataProtectionPDF() {
    // Retrieve customerId, and currentPlace from the form
    var customerIdInput = document.getElementById("customerId");
    var currentPlaceInput = document.getElementById("currentPlace");

    var customerId = parseInt(customerIdInput.value, 10);
    var currentPlace = currentPlaceInput.value; // Retrieve the current place from the form

    var signatureDataURL = canvas.toDataURL(); // Get the signature image data

    console.log("Signature Data URL:", signatureDataURL); // Log the signature data URL

    // Encode the signature data using encodeURIComponent
    var encodedSignature = encodeURIComponent(signatureDataURL);

    var data = {
        customerId: customerId,
        signatureImage: encodedSignature, // Include the encoded signature image data
        currentPlace: currentPlace // Include the current place
    };

    // Make an AJAX request to send the data to the server
    fetch('/pdf/generate/dataProtection', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        if (response.ok) {
            console.log("PDF generated successfully");
        } else {
            console.error('Error generating PDF:', response.status);
        }
    })
    .catch(error => {
        console.error('Error generating PDF:', error);
    });
}

function navigateNext() {
    console.log("Navigating to the next page");
    window.location.href = "/informationLetter";

  }

</script>
<footer>
</footer>

</body>

</html>
