<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Identifying Economically Beneficial Person</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
  :root {
    --primary-color: #999;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  .inside {
    /* Removed background-color property to inherit body's background */
    padding: 4rem 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .signature-pad-form {
    max-width: 300px;
    margin: 0 auto;
  }

  .signature-pad {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
  }

  .clear-button {
    color: var(--primary-color);
  }

  @media (pointer: coarse) {
    body {
      overflow: hidden;
    }
  }

  input[type="checkbox"] {
    margin-right: 15px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }
</style>

</head>

<body>

<div class="inside">
<div class="container">
  <h1>Feststellung der letztlich wirtschaftlich berechtigten Person (WB) des Rechtsträgers</h1>
  <form id="economicBeneficiaryForm" th:object="${EconomicBeneficiary}" class="row">

  <!-- Wirtschaftlich Berechtigter Questions -->
  <h3>1. Feststellung der letztlich wirtschaftlich berechtigten Person (kurz WB) des Rechtsträgers</h3>

    <label>
      <input type="checkbox" name="identicalToContractPartner"/>
      Die nachstehende Person ist mit dem Vertragspartner identisch
  </label><br/>

  <label>
    <input type="checkbox" name="identicalToWealthContributor"/>
    Die nachstehende Person ist mit dem Vermögenseinbringer identisch
  </label><br/>

  <label>
    <input type="checkbox" name="memberOfLeadershipBody"/>
    Die nachstehende Person ist Mitglied des leitenden Organs (Stiftungs-, Verwaltungsrat, Treunehmer)
  </label><br/>

  <label>
    <input type="checkbox" name="protectorOrSimilar" />
    Die nachstehende Person ist Protektor, Kurator oder mit ähnlichen Kompetenzen ausgestattete Person
  </label><br/>

  <label>
    <input type="checkbox" name="beneficiaryOrPotential"/>
    Die nachstehende Person ist Begünstigte, oder der Kreis von Personen, die als Begünstigte in Frage kommen des obigen Rechtsträgers
  </label><br/>

  <label>
    <input type="checkbox" name="holdsMoreThan25PercentShares"/>
    Die nachstehende Person hält Anteile/Stimmrechte von >25% oder ist mit >25% am Gewinn beteiligt
  </label><br/>

  <label>
    <input type="checkbox" name="exercisesControlOverManagement"/>
    Die nachstehende Person übt auf andere Weise die Kontrolle über die Geschäftsführung oder letztlich direkt/indirekt die Kontrolle über das Vermögen des obigen Rechtsträgers aus
  </label><br/>


      <h3>3. Rechtliche Hinweise</h3>
      <p>
        Eine vorsätzlich oder fahrlässig falsch erteilte Erklärung ist strafbar. Selbiges gilt, wenn Änderungen der Gegebenheiten nicht mitgeteilt werden oder über Änderungen der Gegebenheiten falsche Angaben gemacht werden.
      </p>
      <p>
        Ich, der unterzeichnende Vertragspartner bestätige die Richtigkeit und Vollständigkeit sämtlicher von mir gemachten Angaben. Ich verpflichte mich, allfällige Änderungen unaufgefordert und unverzüglich CorPa Treuhand AG schriftlich mitzuteilen.
      </p>
      <p>
        Ich nehme darüber hinaus zur Kenntnis und bin damit einverstanden, dass im Falle einer Konto-/Depoteröffnung bei einer Bank der Inhalt dieser Erklärung der Bank gegenüber bekannt zu geben ist.
      </p>

    <!-- Signature Section -->
    <div>
      <label for="currentPlace">Aktueller Ort:</label>
      <input type="text" id="currentPlace" name="currentPlace" placeholder="Ort eingeben" />
      <p>Unterschreiben Sie bitte im nachfolgenden Feld.</p>
      <p><b>Unterschrift:</b></p>
      <canvas height="100" width="300" class="signature-pad"></canvas>
      <p>
        <a href="#" class="clear-button" onclick="clearCanvas()">Clear</a>
      </p>

      <!-- Buttons -->
      <div>
        <button type="button" onclick="saveData()">Save Data</button>
        <br> <!-- Line break to ensure buttons are vertically spaced -->
        <button type="button" onclick="generatePDF()">Generate PDF</button>
        <br> <!-- Line break to ensure buttons are vertically spaced -->
        <button type="button" onclick="navigateNext()">Next Page</button>
      </div>
    </div>

    <!-- Add a hidden input field to pass the customerId to the PDF generation form -->
    <div>
      <input type="hidden" id="customerId" th:value="${customerId}" />
      <input type="hidden" id="economicBeneficiaryId" th:value="${economicBeneficiaryId}" />
    </div>


  </form>
</div>
</div>


<!-- link to the javascript file for the logic -->
<script>

const canvas = document.querySelector('canvas');
const ctx = canvas.getContext('2d');
let isDrawing = false;
let lastX = 0;
let lastY = 0;

function draw(e) {
  if (!isDrawing) return;
  ctx.lineWidth = 2;
  ctx.lineCap = 'round';
  ctx.strokeStyle = '#000'; // Set the stroke style to black

  ctx.beginPath();
  // Start from
  ctx.moveTo(lastX, lastY);
  // Go to
  ctx.lineTo(e.offsetX, e.offsetY);
  ctx.stroke();
  [lastX, lastY] = [e.offsetX, e.offsetY];
}

canvas.addEventListener('mousedown', (e) => {
  isDrawing = true;
  [lastX, lastY] = [e.offsetX, e.offsetY];
});

canvas.addEventListener('mousemove', draw);
canvas.addEventListener('mouseup', () => isDrawing = false);
canvas.addEventListener('mouseout', () => isDrawing = false);

function clearCanvas() {
    console.log("Clear Button clicked");
    ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear the entire canvas
  }


</script>

<script>
 function saveData() {
    console.log("Save Data Button clicked");

    var form = document.getElementById("economicBeneficiaryForm");
    var formData = new FormData(form);

    // Convert checkbox values to boolean
    var convertedData = {};
    formData.forEach(function(value, key) {
        if (value === "on") {
            convertedData[key] = true;
        } else {
            convertedData[key] = value;
        }
    });

    var customerId = document.getElementById("customerId").value; // Fetch customerId from the hidden input field

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/addBeneficiary?customerId=" + customerId); // Pass customerId as a parameter in the URL
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                console.log("EconomicBeneficiary Data saved successfully");
            } else {
                console.error('Error:', xhr.status);
                // Handle error cases here for saving EconomicBeneficiary data
            }
        }
    };

    xhr.send(JSON.stringify(convertedData)); // Sending the converted form data as JSON
}

function generatePDF() {
    console.log("Generate PDF & Redirect Button clicked");

    // Retrieve customerId, economicBeneficiaryId, and currentPlace from the form
    var customerIdInput = document.getElementById("customerId");
    var economicBeneficiaryIdInput = document.getElementById("economicBeneficiaryId");
    var currentPlaceInput = document.getElementById("currentPlace");

    var customerId = parseInt(customerIdInput.value, 10);
    var economicBeneficiaryId = parseInt(economicBeneficiaryIdInput.value, 10);
    var currentPlace = currentPlaceInput.value; // Retrieve the current place from the form

    var signatureDataURL = canvas.toDataURL(); // Get the signature image data

    console.log("Signature Data URL:", signatureDataURL); // Log the signature data URL

    // Encode the signature data using encodeURIComponent
    var encodedSignature = encodeURIComponent(signatureDataURL);

    var data = {
        customerId: customerId,
        economicBeneficiaryId: economicBeneficiaryId,
        signatureImage: encodedSignature, // Include the encoded signature image data
        currentPlace: currentPlace // Include the current place
    };

    // Make an AJAX request to send the data to the server
    fetch('/pdf/generate/economicBeneficiary', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => {
        if (response.ok) {
            console.log("PDF generated successfully");
        } else {
            console.error('Error generating PDF:', response.status);
        }
    })
    .catch(error => {
        console.error('Error generating PDF:', error);
    });
}

function navigateNext() {
    console.log("Navigating to the next page");
    window.location.href = "/selfDisclosure";

  }

</script>
</body>
</html>
