<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>

:root {
    --primary-color: #999;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }

  .inside {
    /* Removed background-color property to inherit body's background */
    padding: 4rem 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
<body>
<div class="inside">
    <div class="container">
        <h1>Glückwunsch, Sie haben Ihr Onboarding abgeschlossen!</h1>

        <p>Wir danken Ihnen für die sorgfältige Ausführung des Onboarding-Prozesses bei Corpa AG. Durch Ihre Mitarbeit bestätigen Sie hiermit, dass alle von Ihnen bereitgestellten Informationen wahrheitsgemäß und vollständig sind.</p>
        <p>Sollten sich irgendwelche der von Ihnen angegebenen Informationen ändern, bitten wir Sie höflichst, uns umgehend zu informieren. Ihre Genauigkeit und Kooperation sind entscheidend, um die Integrität unserer Daten zu gewährleisten.</p>
        <p>Bei Fragen oder benötigter Unterstützung stehen wir Ihnen gerne zur Verfügung. </p>
        <p>Herzlich willkommen an Bord! </p>

        <p>Mit freundlichen Grüßen,</p>
        <p>Ihr Corpa Team</p>
        <img src="coverImage.jpg" alt="Cover Image" style="max-width: 100%; height: auto;">

    </div>
</div>

<script>



</script>


</body>
</html>